# Copier ce fichier en .env et remplir les valeurs
# cp .env.example .env

# ── Snowflake ──────────────────────────────────────────────────────────────────
SNOWFLAKE_ACCOUNT=<orgname>-<accountname>        # ex: vtjcjpx-im99988
SNOWFLAKE_USER=<username>
SNOWFLAKE_PASSWORD=<password>
SNOWFLAKE_DATABASE=<database>                    # ex: TECH_NEWS_DB
SNOWFLAKE_SCHEMA=<schema>                        # ex: RAW
SNOWFLAKE_WAREHOUSE=<warehouse>                  # ex: COMPUTE_WH_XSMALL
